<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="false" android:usesCleartextTraffic="true" android:theme="@style/Theme.StayFlow" android:label="StayFlow" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.BookingsActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.BookRoomActivity" />
        <activity android:name=".ui.HotelReviewsActivity" />
        <activity android:name=".ui.RoomsActivity" />
        <activity android:name=".ui.HotelsActivity" />
        <activity android:name=".ui.SignupActivity" />
        <activity android:name=".ui.ForgotPasswordActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SplashActivity" android:exported="true" android:theme="@style/Theme.StayFlow.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
